In [ ]:
import os
import shutil
import pathlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from scipy.io import wavfile

In [ ]:
def load_model(model_path):
  return tf.keras.models.load_model(model_path)

In [ ]:
class DrumAudio():
  def __init__(
        self,
        audio_path: str,
        **kwargs
        ):
    super(DrumAudio, self).__init__(**kwargs)

    self.freq_rate, self.signal = wavfile.read(audio_path)

    size = self.signal.shape[0]
    secs = size / self.freq_rate
    T = 1.0/self.freq_rate
    self.time_range = np.arange(0, secs, T).round(6)
  
  def detect_percussions(self):
    dataset = pd.DataFrame(np.array([self.signal,self.time_range]).T, columns=['signal','time'])
    dataset['index_position'] = dataset.index

    mean = 0
    step = 1.01
    thresholds = [mean - step, mean + step]
    dataset['label'] = 1
    dataset.loc[(dataset['signal'] <= thresholds[0]) | (dataset['signal']>= thresholds[1]), 'label'] = 0
    dataset['new_index'] = dataset['label'].cumsum()
    new_dataset = dataset[(dataset['label']==0)].groupby('new_index').first()
    new_dataset['size'] = dataset[(dataset['label']==0)].groupby('new_index').size()
    new_dataset = new_dataset[new_dataset['size']>=1024].groupby(new_dataset['time'].round(1)).first().reset_index(drop=True)
    new_dataset['new_index'] = (new_dataset['time']/0.1).round()

    percussions = new_dataset[['time','index_position']]

    return percussions
  
  def predict_kits(self, CY_model, HH_model, KD_model, SD_model):
    transcription = self.detect_percussions()

    transcription['CY'] = 0
    transcription['HH'] = 0
    transcription['KD'] = 0
    transcription['SD'] = 0

    os.makedirs('../data/predictions')
    for index, row in transcription.iterrows():
      fig, ax = plt.subplots(figsize=(8, 8))
      if row['index_position']<1024:
        spectrum, freqs, bins, im = ax.specgram(self.signal[0:int(row['index_position'])+4096+1024], Fs=self.freq_rate, scale_by_freq=True)
      else:
        spectrum, freqs, bins, im = ax.specgram(self.signal[int(row['index_position'])-1024:int(row['index_position'])+4096+1024], Fs=self.freq_rate, scale_by_freq=True)
      ax.axis('tight')
      ax.axis('off')
      fig.savefig(f'../data/predictions/{index}.png', bbox_inches='tight', pad_inches=0.0)
      plt.close(fig)
      img = tf.keras.preprocessing.image.load_img(
        f'../data/predictions/{index}.png', target_size=(100, 100)
      )
      img_array = tf.keras.preprocessing.image.img_to_array(img)
      img_array = tf.expand_dims(img_array, 0)
      transcription.loc[index, 'CY'] = int(CY_model.predict(img_array)[0] > 0.5)
      transcription.loc[index, 'HH'] = int(HH_model.predict(img_array)[0] > 0.5)
      transcription.loc[index, 'KD'] = int(KD_model.predict(img_array)[0] > 0.5)
      transcription.loc[index, 'SD'] = int(SD_model.predict(img_array)[0] > 0.5)

    shutil.rmtree('../data/predictions')

    transcription = transcription[(transcription['CY']!=0) | (transcription['HH']!=0) | (transcription['KD']!=0) | (transcription['SD']!=0)].reset_index(drop=True)

    return transcription

In [ ]:
CY_model = load_model('../models/CY_60epochs')
HH_model = load_model('../models/HH_ResNet')
KD_model = load_model('../models/KD_ResNet')
SD_model = load_model('../models/SD_ResNet')

In [ ]:
audio = DrumAudio('../data/drums_audio/MusicDelta_80sRock_Drum.wav')

In [ ]:
transcription = audio.predict_kits(CY_model,HH_model,KD_model,SD_model)

WARNING:tensorflow:5 out of the last 1073 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7f8dfbcbfa70> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

In [ ]:
transcription

         time  index_position  CY  HH  KD  SD
0    0.000000               0   0   0   1   0
1    0.554989           24475   0   0   1   1
2    1.103810           48678   0   0   1   0
3    1.657279           73086   0   0   1   1
4    2.228571           98280   0   0   1   0
..        ...             ...  ..  ..  ..  ..
70  34.413220         1517623   0   0   1   1
71  34.514308         1522081   0   0   0   1
72  34.561247         1524151   0   0   0   1
73  34.663923         1528679   0   0   0   1
74  34.762426         1533023   0   0   0   1

[75 rows x 6 columns]

In [ ]:
transcription.head(50)

         time  index_position  CY  HH  KD  SD
0    0.000000               0   0   0   1   0
1    0.554989           24475   0   0   1   1
2    1.103810           48678   0   0   1   0
3    1.657279           73086   0   0   1   1
4    2.228571           98280   0   0   1   0
5    2.777052          122468   0   0   1   1
6    3.315986          146235   0   0   1   0
7    3.831859          168985   0   0   1   1
8    4.373129          192855   1   0   1   0
9    4.880884          215247   0   0   1   1
10   5.469070          241186   0   0   1   0
11   5.976712          263573   0   0   1   1
12   6.556871          289158   0   0   1   0
13   7.088685          312611   0   0   1   1
14   7.614490          335799   0   0   1   0
15   8.198889          361571   0   0   1   1
16   8.680023          382789   0   1   1   0
17   8.751043          385921   0   0   1   0
18   9.275964          409070   0   0   1   1
19   9.788299          431664   0   0   1   0
20  10.364717          457084   0   0   1   1
21  10.928073          481928   0   0   1   0
22  11.478503          506202   0   0   1   1
23  12.015533          529885   0   0   1   0
24  12.572222          554435   0   0   1   1
25  13.108458          578083   1   0   1   0
26  13.649229          601931   0   0   1   1
27  14.207120          626534   0   0   1   0
28  14.688776          647775   0   0   1   0
29  15.283719          674012   0   0   1   0
30  15.769796          695448   0   0   1   1
31  16.388027          722712   0   0   1   0
32  16.923673          746334   0   0   1   1
33  17.485193          771097   1   0   1   0
34  17.970748          792510   1   0   1   1
35  18.563628          818656   0   0   1   0
36  19.113175          842891   0   0   1   1
37  19.578934          863431   0   0   1   0
38  19.659796          866997   0   0   1   0
39  20.200091          890824   0   0   1   1
40  20.671814          911627   0   1   1   0
41  20.752608          915190   0   0   1   0
42  21.280635          938476   0   0   1   1
43  21.825374          962499   0   0   1   0
44  22.282925          982677   0   1   1   0
45  22.352608          985750   0   0   1   1
46  22.920136         1010778   0   0   1   0
47  23.479683         1035454   0   0   1   1
48  24.031905         1059807   1   0   1   0
49  24.552766         1082777   0   0   1   1

In [ ]:
transcription.tail(25)

         time  index_position  CY  HH  KD  SD
50  25.095488         1106711   0   0   1   0
51  25.602290         1129061   0   0   0   1
52  25.656780         1131464   0   0   1   1
53  26.204082         1155600   0   0   1   0
54  26.724399         1178546   0   0   1   0
55  26.758594         1180054   0   0   1   1
56  27.306576         1204220   0   0   1   0
57  27.827687         1227201   0   0   1   1
58  28.346939         1250100   0   0   1   0
59  28.388027         1251912   0   0   1   0
60  28.875760         1273421   0   0   1   1
61  29.465714         1299438   0   0   1   0
62  30.036100         1324592   0   0   1   1
63  30.581202         1348631   1   0   1   0
64  31.051111         1369354   1   0   1   1
65  31.651497         1395831   0   0   1   0
66  32.189660         1419564   0   0   1   1
67  32.725805         1443208   0   0   1   0
68  33.278912         1467600   0   0   1   1
69  33.762834         1488941   0   0   1   0
70  34.413220         1517623   0   0   1   1
71  34.514308         1522081   0   0   0   1
72  34.561247         1524151   0   0   0   1
73  34.663923         1528679   0   0   0   1
74  34.762426         1533023   0   0   0   1